{% extends 'base.html.twig' %}
{% block content %}
<h1>Card</h1>
<p><a href="{{ link_to_deck }}">Deck</a>.</p>
<p><a href="{{ link_to_shuffle }}">Shuffled deck</a>.</p>
<p><a href="{{ link_to_draw }}">Draw card</a>.</p>
<p><a href="{{ link_to_draws }}">Draw cards</a>.</p>
<p><a href="{{ link_to_deal }}">Deal cards</a>.</p>
<p><a href="{{ link_to_json }}">Json</a>.</p>
{% endblock %}
