<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> {% block title %} {{ title }} {% endblock %} </title>
        {% block style %}
        <link rel="stylesheet" href="{{ asset("style/style.css") }}">
        {% endblock %}
        <link rel="icon" href="{{ asset("favicon.ico") }}">
    </head>

    <div class="header">
        <header>
            <nav>
                <ul>
                  <li><a class="active" href="{{ path("home") }}">Startsida</a></li>
                  <li><a href="{{ path("about") }}">Om</a></li>
                  <li><a href="{{ path("report") }}">Rapport</a></li>
                  <li><a href="{{ path("card") }}">Kort</a></li>
                  <li><a href="{{ path("game") }}">Spel</a></li>
                  <li><a href="{{ path("library") }}">Bibliotek</a></li>
                  <li><a href="{{ path("metrics") }}">Metrics</a></li>
                  <li><a href="{{ path("proj") }}">Projekt</a></li>
                </ul>
            </nav>
            <h1 class="header-head">Björns sida för MVC</h1>
        </header>
    </div>

    <body>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>

    <footer >
        <p>Björn Molin</p>
        <p>MVC</p>
    </footer>
</html>
